about-time==4.2.1
absl-py==2.1.0
alive-progress==3.1.5
astunparse==1.6.3
autograd==1.6.2
certifi==2024.6.2
charset-normalizer==3.3.2
check-shapes==1.1.1
clarabel==0.9.0
cloudpickle==3.0.0
cma==3.2.2
contourpy==1.2.1
cvxpy==1.5.2
cycler==0.12.1
decorator==5.1.1
Deprecated==1.2.14
dill==0.3.5.1
dm-tree==0.1.8
dropstackframe==0.1.0
ecos==2.0.14
exceptiongroup==1.2.1
flatbuffers==24.3.25
fonttools==4.53.0
future==1.0.0
gast==0.5.4
google-pasta==0.2.0
gpflow==2.9.2
gpflux==0.4.4
grapheme==0.6.0
greenlet==3.0.3
grpcio==1.64.1
h5py==3.11.0
idna==3.7
iniconfig==2.0.0
keras==3.3.3
kiwisolver==1.4.5
lark==1.1.9
libclang==18.1.1
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.0
mdurl==0.1.2
ml-dtypes==0.3.2
multipledispatch==1.0.0
namex==0.0.8
numpy==1.26.4
opt-einsum==3.3.0
optree==0.11.0
osqp==0.6.7
packaging==24.1
pillow==10.3.0
pluggy==1.5.0
protobuf==4.25.3
Pygments==2.18.0
pymoo==0.6.1.1
pyparsing==3.1.2
pytest==8.2.2
python-dateutil==2.9.0.post0
PyYAML==6.0.1
qdldl==0.1.7.post3
requests==2.32.3
rich==13.7.1
scipy==1.13.1
scs==3.2.4.post3
six==1.16.0
tabulate==0.9.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-io-gcs-filesystem==0.37.0
tensorflow-probability==0.24.0
termcolor==2.4.0
tf_keras==2.16.0
tomli==2.0.1
typing_extensions==4.12.2
urllib3==2.2.2
Werkzeug==3.0.3
wrapt==1.16.0
