black==26.5.1
click==8.5.0
flake8==7.4.1
isort==9.0.2
mccabe==0.7.0
mypy_extensions==1.1.0
packaging==26.3
pathspec==1.1.1
platformdirs==4.12.2
pycodestyle==2.15.0
pyflakes==4.0.0
pytokens==0.4.1
tomli==2.4.1
typing_extensions==4.16.0
