about-time==4.2.1
absl-py==2.5.0
alive-progress==3.3.0
astunparse==1.6.3
attrs==26.1.0
autograd==1.9.1
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.2
check-shapes==1.1.1
clarabel==0.11.1
cloudpickle==3.1.2
cma==4.5.0
contourpy==1.3.2
cryptography==50.0.1
cvxpy==1.7.5
cycler==0.12.1
decorator==5.3.1
Deprecated==1.3.1
dill==0.4.1
dm-tree==0.1.10
dropstackframe==0.1.1
exceptiongroup==1.3.1
flatbuffers==25.12.19
fonttools==4.65.0
gast==0.7.0
google-auth==2.59.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
gpflow==2.11.1
gpflux==0.4.5
graphemeu==0.7.2
greenlet==3.5.6
grpcio==1.84.0
h5py==3.16.0
idna==3.20
iniconfig==2.3.0
Jinja2==3.1.6
joblib==1.6.0
keras==2.14.0
kiwisolver==1.5.1
lark==1.3.1
libclang==18.1.1
Markdown==3.10.3
MarkupSafe==3.0.3
matplotlib==3.10.9
ml-dtypes==0.2.0
moocore==0.3.2
multipledispatch==1.0.0
numpy==1.26.4
oauthlib==4.0.0
opt_einsum==3.4.0
osqp==1.1.3
packaging==26.3
pillow==12.3.0
platformdirs==4.12.2
pluggy==1.6.0
protobuf==4.25.9
pyasn1==0.6.4
pyasn1_modules==0.4.2
pycparser==3.0
Pygments==2.21.0
pymoo==0.6.2
pyparsing==3.3.3
pytest==9.1.1
python-dateutil==2.9.0.post0
PyYAML==6.0.3
requests==2.34.2
requests-oauthlib==2.0.0
scipy==1.15.3
scs==3.3.1
six==1.17.0
tabulate==0.10.0
tensorboard==2.14.1
tensorboard-data-server==0.7.2
tensorflow==2.14.1
tensorflow-estimator==2.14.0
tensorflow-io-gcs-filesystem==0.37.1
tensorflow-probability==0.22.1
termcolor==3.3.0
tomli==2.4.1
typing_extensions==4.16.0
urllib3==2.8.0
Werkzeug==3.1.9
wrapt==1.14.2
