alabaster==0.7.12
astroid==2.4.2
async-generator==1.10
attrs==20.2.0
Babel==2.8.0
backcall==0.2.0
bleach==3.2.1
certifi==2020.6.20
chardet==3.0.4
decorator==4.4.2
defusedxml==0.6.0
docutils==0.16
entrypoints==0.3
idna==2.10
imagesize==1.2.0
importlib-metadata==2.0.0
ipython==7.18.1
ipython-genutils==0.2.0
jedi==0.17.2
Jinja2==2.11.2
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.6.3
jupyterlab-pygments==0.1.2
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mistune==0.8.4
nbclient==0.5.0
nbconvert==6.0.7
nbformat==5.0.7
nbsphinx==0.7.1
nest-asyncio==1.4.1
packaging==20.4
pandocfilters==1.4.2
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
pkg-resources==0.0.0
prompt-toolkit==3.0.7
ptyprocess==0.6.0
pydata-sphinx-theme==0.4.1
Pygments==2.7.1
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
pyzmq==19.0.2
requests==2.24.0
six==1.15.0
snowballstemmer==2.0.0
Sphinx==3.2.1
sphinx-autoapi==1.5.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
testpath==0.4.4
tornado==6.0.4
traitlets==5.0.4
typed-ast==1.4.1
Unidecode==1.1.1
urllib3==1.25.10
wcwidth==0.2.5
webencodings==0.5.1
wrapt==1.12.1
zipp==3.3.0
