about-time==4.2.1
absl-py==2.1.0
alive-progress==3.1.5
astunparse==1.6.3
autograd==1.7.0
cachetools==5.5.0
certifi==2024.8.30
charset-normalizer==3.3.2
check-shapes==1.1.1
clarabel==0.9.0
cloudpickle==3.0.0
cma==3.2.2
contourpy==1.3.0
cvxpy==1.5.3
cycler==0.12.1
decorator==5.1.1
Deprecated==1.2.14
dill==0.3.5.1
dm-tree==0.1.8
dropstackframe==0.1.0
ecos==2.0.14
exceptiongroup==1.2.2
flatbuffers==24.3.25
fonttools==4.53.1
gast==0.6.0
google-auth==2.34.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
gpflow==2.9.2
gpflux==0.4.4
grapheme==0.6.0
greenlet==3.0.3
grpcio==1.66.1
h5py==3.11.0
idna==3.8
importlib_metadata==8.4.0
importlib_resources==6.4.4
iniconfig==2.0.0
keras==2.8.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.7
lark==1.2.2
libclang==18.1.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.2
mdurl==0.1.2
ml-dtypes==0.3.2
multipledispatch==1.0.0
namex==0.0.8
numpy==1.21.6
oauthlib==3.2.2
opt-einsum==3.3.0
optree==0.12.1
osqp==0.6.7.post1
packaging==24.1
pillow==10.4.0
pluggy==1.5.0
protobuf==3.19.6
pyasn1==0.6.0
pyasn1_modules==0.4.0
Pygments==2.18.0
pymoo==0.6.1.3
pyparsing==3.1.4
pytest==8.3.2
python-dateutil==2.9.0.post0
PyYAML==6.0.2
qdldl==0.1.7.post4
requests==2.32.3
requests-oauthlib==2.0.0
rich==13.8.0
rsa==4.9
scipy==1.7.3
scs==3.2.7
six==1.16.0
tabulate==0.9.0
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.4
tensorflow-estimator==2.8.0
tensorflow-io-gcs-filesystem==0.37.1
tensorflow-probability==0.13.0
termcolor==2.4.0
tf_keras==2.16.0
tomli==2.0.1
typing_extensions==4.12.2
urllib3==2.2.2
Werkzeug==3.0.4
wrapt==1.16.0
zipp==3.20.1
