# Copyright 2020 The Trieste Contributors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Quality checks

on:
  workflow_dispatch:
  pull_request:
    branches: develop

jobs:
  types:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: "3.10"
    - run: pip install tox
    - run: tox -e types

  types_old:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: "3.7"
    - run: pip install tox
    - run: tox -e types_old

  format:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: "3.10"
    - run: pip install tox
    - run: tox -e format

  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        part: [ "1", "2", "3" ]
    name: tests-part${{ matrix.part }}
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: "3.10"
    - run: pip install tox
    - run: tox -e tests_${{ matrix.part }}

  tests_old:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        part: [ "1", "2", "3" ]
    name: tests_old-part${{ matrix.part }}
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: "3.7"
    - run: pip install tox
    - run: tox -e tests_old_${{ matrix.part }}

  docs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: "3.10"
    - run: pip install tox
    - run: |
        TEMP_DEB="$(mktemp)" &&
        wget -O "$TEMP_DEB" 'https://github.com/jgm/pandoc/releases/download/2.10.1/pandoc-2.10.1-1-amd64.deb' &&
        sudo dpkg -i "$TEMP_DEB"
        rm -f "$TEMP_DEB"
    - run: tox -e quickdocs
